TrollRoute.xcodeproj/xcuserdata/*
TrollRoute.xcodeproj/project.xcworkspace/xcuserdata/*
TrollRoute.xcodeproj/xcuserdata/
TrollRoute.xcodeproj/project.xcworkspace/xcuserdata/
**/.DS_Store
build/*
build/
*.entitlements
!TrollRoute/TrollRoute.entitlements
!TrollRouteShare/TrollRouteShare.entitlements

__pycache__/
